/* ======== Partials ======= */
@import "partials/variables";
@import "partials/normalize";
@import "partials/nesting";
@import "partials/mixins";

/* ======= Style Components ======= */
@import "components/1.header";
@import "components/2.mainpage";
@import "components/3.footer";
@import "components/4.about";
@import "components/10.artists";
@import "components/11.jwilly";
@import "components/instagram";

html, body {
  height: 100%;
}

body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	display: flex;
  	flex-direction: column;
  	overflow-x: hidden;
}

.wrapper {
	flex: 1 0 auto;
}

.d-none {
	display: none;
}

.loader {
	width: 100vw;
	height: 100vh;
	background: $white;
	z-index: 9999;
}

.loader img {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: Simpel-Medium;
    src: url(../fonts/Simpel-Medium.otf);
}

@font-face {
    font-family: Stingray;
    src: url(../fonts/Stingray.otf);
}

p, li, a, h1, h2, h3, h4, h5, h6, small, address, table {
	font-family: $mainFont;
	margin: 0;
	text-align: center;
}

h1 {
	padding: 2.5% 0;
	font-size: 3em;
}
h2 {
	font-size: 2em;
}

p, li, a, address, table, small {
	font-weight: 100;
	font-size: 1.5em;
}
.clearfix {
	clear: both;
}