@import "variables";
@import "mixins";
/* ======= Artists ul ======= */

.artists__ul {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
	@include ulstyling;

	li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 0;

		a {
			display: block;
			width: 100%;
			text-decoration: none;
			color: $black;
			font-weight: 800;
			font-size: 1.75em;
		}
		img {
			width: 50%;
			height: 50%;
			margin: 15px 0;
			border-radius: 50%;
		}
		p {
			width: 100%;
			align-self: center;
			text-align: left;
			font-size: 1.25em;
			color: $darkgrey;
			margin: 15px 0;
		}
		button {
			background-color: $black;
			color: $white;
			text-align: center;
			padding: 0.75em 1em;
			border: none;
			outline: none;
			position: relative;
			-webkit-transition-duration: 0.4s; /* Safari */
     		transition-duration: 0.4s;
     		text-decoration: none;
    		overflow: hidden;
    		cursor: pointer;
		}
		button span {
  		cursor: pointer;
  		display: inline-block;
  		position: relative;
  		transition: 0.5s;
		}
		button:hover span {
  		padding-right: 25px;
		}
		button:hover span:after {
  		opacity: 1;
  		right: 0;
		}
		button span:after {
  		content: '\00bb';
  		position: absolute;
  		opacity: 0;
  		top: 0;
  		right: -20px;
  		transition: 0.5s;
		}
		button:hover {
			background-color: rgba(0, 0, 0, 0.9);
		}
		button:after {
    		content: "";
    		background: $white;
    		display: block;
    		position: absolute;
    		padding-top: 300%;
    		padding-left: 350%;
    		margin-left: -20px!important;
    		margin-top: -120%;
    		outline: none;
    		opacity: 0;
    		transition: all 1s
    	}
    	button:active {
  		background-color: rgba(0, 0, 0, 0.5);
  		box-shadow: 0 5px #666;
  		transform: translateY(4px);
		}
    	button:active:after {
    	padding: 0;
    	margin: 0;
    	opacity: 1;
    	transition: 0s
		}
	}
}