@import "variables";
@import "mixins";
/* ======= Artists ul ======= */

.artists__ul {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
	@include ulstyling;

	li {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 20px 0;
		
		h2 {
			width: 100%;
			font-size: 1em;
			text-align: left;
			align-self: flex-start;
			a {
				display: block;
				text-decoration: none;
				color: $black;
				font-weight: 800;
				font-size: 1.2em;
				}
		}
		/* Responsive Circle */
		.responsive-circle1 {
    				font-size: 80px;
    				width: 80%;
		}
		.responsive-circle1::after {
				   @include responsiveCircleAfter;
					}
		.bgimg1:after {
			@include backgroundIMG(url(../img/jwilly.jpg), 100%, center);
		}
		/* End of Responsive Circle */
		div {
			display: flex;
			flex-direction: column;
			width: 100%;
			box-sizing: border-box;
			padding: 0;

			p {
				width: 100%;
				font-size: 1em;
				color: $darkgrey;
				margin: 15px 0;
				text-align: left;
			}
			button {
				background-color: $black;
				color: $white;
				text-align: center;
				width: 75%;
				padding: 0.75em 1em;
				border: none;
				outline: none;
				position: relative;
				-webkit-transition-duration: 0.4s; /* Safari */
	     		transition-duration: 0.4s;
	     		text-decoration: none;
	    		overflow: hidden;
	    		cursor: pointer;
			}
			button span {
	  		cursor: pointer;
	  		display: inline-block;
	  		position: relative;
	  		transition: 0.5s;
			}
			button:hover span {
	  		padding-right: 25px;
			}
			button:hover span:after {
	  		opacity: 1;
	  		right: 0;
			}
			button span:after {
	  		content: '\00bb';
	  		position: absolute;
	  		opacity: 0;
	  		top: 0;
	  		right: -20px;
	  		transition: 0.5s;
			}
			button:hover {
				background-color: rgba(0, 0, 0, 0.9);
			}
			button:after {
	    		content: "";
	    		background: $white;
	    		display: block;
	    		position: absolute;
	    		padding-top: 300%;
	    		padding-left: 350%;
	    		margin-left: -20px!important;
	    		margin-top: -120%;
	    		outline: none;
	    		opacity: 0;
	    		transition: all 1s
	    	}
	    	button:active {
	  		background-color: rgba(0, 0, 0, 0.5);
	  		box-shadow: 0 5px #666;
	  		transform: translateY(4px);
			}
	    	button:active:after {
	    	padding: 0;
	    	margin: 0;
	    	opacity: 1;
	    	transition: 0s
			}
			button span a {
				color: $white;
				text-align: center;
				font-size: 1em;
				text-decoration: none;
				}
		}
	}
}

@media screen and (min-width: 480px) {
.artists__ul li h2 {
	align-self: center;
}
.artists__ul li div button {
width: 50%;
}
.artists__ul li img {
	width: 70%;
	align-self: flex-start;
}
}
@media screen and (min-width: 768px) {
.artists__ul li {
flex-direction: row;

}
.artists__ul li h2 a {
	text-align: left;
}
.artists__ul li img {
width: 30%;
}

.artists__ul li div {
	width: 70%;
	padding: 1em;
	justify-content: flex-end;
}

.artists__ul li div button {
width: 220px;
}
}