@import "../partials/variables";
@import "../partials/mixins";

.main--artists {
	@include grid(2.5% 95% 2.5%);
	background-color: $white;
}
.article--artists {
	grid-area: 1/2;
}

.article--artists h1 {
	color: $black;
	text-align: center;
	margin-top: 25%;
}

@media screen and (min-width: 480px) {
.main--artists {
@include grid(5% 90% 5%);
}
.article--artists h1 {
margin-top: 20%;
}
}
@media screen and (min-width: 568px) {

.artists__ul li p {
	width: calc(70% - 30px);
	margin: 15px 15px;
}
}
@media screen and (min-width: 768px) {
.main--artists {
@include grid(10% 80% 10%);
}
.article--artists h1 {
margin-top: 15%;
}
}
@media screen and (min-width: 1024px) {
.main--artists {
@include grid(20% 60% 20%);
}
.article--artists h1 {
margin-top: 10%;
}
}
@media screen and (min-width: 1324px) {
.main--artists {
@include grid(25% 50% 25%);
}
.article--artists h1 {
margin-top: 5%;
}
}