@import "../partials/variables";
@import "../partials/normalize";
@import "../partials/nesting";
@import "../partials/mixins";

.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.profile h2 {
	width: 100%;
	margin: 2.5em auto 1.5em auto;
}
.profile p {
	margin: 1em 0;
	text-align: left;
	font-size: 1.5em;
	color: $darkgrey;
}



.instabox {
	grid-area: 1/2;
	position: relative;
	grid-row-start: 2;
	margin-bottom: 5vh;
}

@media screen and (min-width: 480px) {
.profile {
justify-content: flex-start;
}
.profile p {
	
}
} 