/* Responsive Circle */
		.responsive-circle2 {
    		align-self: flex-start;
    		font-size: 80px;
    		width: 80%;
		}
		.responsive-circle2:not(:hover) {
    		-webkit-filter: grayscale(100%);
    		filter: grayscale(100%);
		}
		.responsive-circle2::after {
			@include responsiveCircleAfter;
					}
		.bgimg2:after {
			@include backgroundIMG(url(../img/sbrandt.jpg), 100%, center);
		}
/* End of Responsive Circle */