@import "../partials/mixins";

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    @include backgroundIMG(url(../img/artofink.jpg), cover, center);
    /* Full height */
    height: 100vh; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    text-align:center; 
    display:table;
    width:100%;
}
.about {
    height:70vh;
    background-color: $white; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 0 5%;
}

.about p {
    padding-top: 5%;
}
.about-headline-image{
    display:flex;
    justify-content:center;

}
.parallax h1 {
   display:table-cell;
   vertical-align:middle;
   font-size: 7em;
   font-family: $frontFont, sans-serif;
   text-shadow: 1px 3px $white;
}

.works {
	background: $black;
}

.works h1 {
	color: $white;
	padding: 10% 0;
}

@media only screen and (min-width: 968px) {
	.works h1 {
    	padding: 2.5% 0;
	}
}

@media only screen and (min-width: 1280px) {
	.about p {
    	width: 70%;
    	padding: 5% 15%;
	}
}