@import "../partials/mixins";

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    @include backgroundIMG(url(../img/artofink.jpg), cover, center);
    /* Full height */
    height: 95vh; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    text-align:center; 
    display:table;
    width:100%;
}
.about {
    height:70vh;
    background-color: $white; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    color: $black;
}

.about p {
    font-size:20px;
}
.about-headline-image{
    display:flex;
    justify-content:center;

}
.parallax h1 {
   display:table-cell;
   vertical-align:middle;
   color:white;
   font-size: 9em;
   font-family: $frontFont, sans-serif;
   text-shadow: 3px 6px #000000;
}

.works {
	background: $black;
}

.works h1 {
	color: $white;
	padding: 10% 0;
}
@media only screen and (min-width: 1280px) {
	.about p {
    	width: 70%;
    	padding: 5% 15%;
	}
}