@import "../partials/mixins";

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    @include backgroundIMG(url(../img/artofink.jpg), cover, center);
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}
.about {
    height:1000px;
    background-color:grey;
    font-size:29px;
    @include backgroundIMG(url(../img/parallaximagebg1.jpg), cover, center);
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;

}
.about p {
    font-size:20px;
    color:white;

}
.about-headline-image{
    display:flex;
    justify-content:center;

}

.about-headline{
    display:flex;
    justify-content:center;
    padding-top:30px;
}
.parallax {
    height: 100%; 
    text-align:center; 
    display:table;
    width:100%;
}
.parallax h1 {
   display:table-cell; vertical-align:middle;
   color:white;
   font-size:12vw;
   font-family: 'Kumar One', cursive;
  
}
@media only screen and (max-width: 600px) {
    .parallax {
         background-image: url("../img/mobilebg.jpg");
    }
    .parallax h1 {
        display:none;
        
    }

}