@import "../partials/variables";

.footer {
	color: $black;
	background: $white;
	text-align: center;
	padding: 2.5% 0;
}

.footer__h {
	margin: 0;
	padding: 5% 0;
}

.footerSection, .footer__p {
	margin: 2.5% 0;
}

.phoneLink {
	text-decoration: none;
	color: $black;
}

.phoneIcon {
	vertical-align: middle;
}

.footer__socialmedia {
	margin: 0;
	bottom: 2em;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

.footer__socialmedia__li {
	padding: 0 1.5%;
}

.footer__socialmedia__li:first-child {
	justify-content: flex-end;
}

.footer__socialmedia__li:last-child {
	justify-content: flex-start;
}

.bold {
	font-weight: 900;
}

.openingHours {
	margin: 0 auto;
	text-align: left;
}

.openingHours td {
	padding: 0 5%;
}

.googleMaps {
	width: 100%;
	height: 45vh;
}

.copyright {
	background: $black;
	color: $white;
}

@media screen and (min-width: 968px) {
	.footer__h {
		padding: 1.5% 0;
	}
	.footer__p {
		margin: 0;
	}
	.googleMaps {
		height: 55vh;
	}
}