.aboutUs__about {
    height: 40vh;
}

.aboutUs__about-headline {
	padding: 5% 0;
}

.white {
	background: $white;
	color: $black;
}

.black {
	background: $black;
	color: $white;
}

.aboutUs__pic {
 	width: 100%;
 	overflow: hidden;
}

.hp-pic2 {
	display: none;
}

.tattooCount {
	height: 50vh;
}

.aboutHP {
	height: 50vh;
}

#tattoosMade {
 	font-weight: bold;
}

@media screen and (min-width: 968px) {
	.hp-pic {
		width: 50%;
		float: left;
	}
	.hp-pic2 {
		display: block;
	}
}