.video_btn {
  width: 18%;
  height: 25px;
  position: absolute;
  top: 85%;
  left: 80%;
  z-index: 9996;
  background:none;
  color: white;
  font-family: Simpel-Medium;
  text-decoration: none;
  text-align: center;
  transition: transform .4s;
}

.video_btn:hover {
transform: scale(1.1);
}
